<div class="cat-container" >
    <div class="deals-container">
        <div class="deal"  ng-show='!deal.hideDeal' ng-mouseenter='showDesc(deal); showButton(deal)' ng-mouseleave='hideDesc(deal); hideButton(deal)' ng-repeat="deal in data">


            <div class="deal-header" ng-show='!deal.hideDesc'>{{deal.dealsName}}</div>
            <svg   ng-if="isAuthenticated() === 'admin'"   id='edit' ng-show='deal.showButtons' ng-click='expandEdit()'>
                <use xlink:href="#icon-shapes"></use>
            </svg>
            <svg  ng-if="isAuthenticated() === 'admin'" id="remove" ng-show='deal.showButtons' ng-click="removeDeal(deal._id)">
                <use xlink:href="sprite.svg#icon-signs" width="15px" height="15px"></use>
            </svg>
            
            <svg  ng-if="isAuthenticated() === 'admin'" id="approve" ng-show='deal.showButtons' ng-click='aproveDeal(deal)'>
                <use xlink:href="#icon-tool" width="15px" height="15px"></use>
            </svg>
            <div class='details' ng-click="openDealDetail(deal)">
                <div id='deal-desc' class='deal-desc' ng-show='deal.hideDesc'>{{deal.description}}</div>
            <div class="deal-pic">
                <svg  ng-show='!deal.hideDesc' class='svg' id="{{deal.svg}}" width="110px" height="110px">
                  <use xlink:href="{{deal.svg}}" width="110px" height="110px"></use>
                </svg>
            </div>


            <div class="deal-footer" ng-show='!deal.hideDesc'>
                {{showDetail}}
              <span class='small-text'>at</span><br>{{deal.bus.busName}}
            </div>
            </div>
        </div>
        <deal-detail-dir show="showDealDetail" deal="selectedDeal"></deal-detail-dir>
    </div>
</div>
