<div class="cat-container" >
    <div class="deals-container">

        <div class="deal" ng-click="openDealDetail(deal)" ng-hide='deal.hideDeal' ng-mouseenter='showDesc(deal); showButton(deal)' ng-mouseleave='hideDesc(deal); hideButton(deal)' ng-repeat="deal in data track by $index">
            <img src="arrow.png" class="leftArrow" height="125px" width="125px" ng-if="$index === 0">
            <div class="deal-header" ng-show='!deal.hideDesc'>{{deal.dealsName}}</div>
            <button  ng-if="isAuthenticated() === 'admin'"   id='edit' ng-show='deal.showButtons'>edit</button>
            <button  ng-if="isAuthenticated() === 'admin'" id="remove" ng-show='deal.showButtons' ng-click="removeDeal(deal._id)">remove</button>
            <div id='deal-desc' class='deal-desc' ng-show='deal.hideDesc'>{{deal.description}}</div>
            <div class="deal-pic">
                <svg  ng-show='!deal.hideDesc' class='svg' id="{{deal.svg}}" width="110px" height="110px">
                  <use xlink:href="{{deal.svg}}" width="110px" height="110px"></use>
                </svg>
            </div>


            <div class="deal-footer" ng-show='!deal.hideDesc'>
                {{showDetail}}
              <span class='small-text'>at</span><br>{{deal.bus.busName}}
            </div>
        </div>
        <img src="arrow.png" class="rightArrow" height="125px" width="125px">
        <deal-detail-dir show="showDealDetail" deal="selectedDeal"></deal-detail-dir>
    </div>
</div>
