<div ng-if="show">
    <div id="modal-curtain" ng-click='closeAddDeal()'></div>
<div class="modal">
    <span id='close' ng-click='closeAddDeal()'>&times;</span>
    <div id="mapsview">
        <h2 class='deal-header'>Submit the Deal you want to share here!</h2>
            <section class='data-entry'>
                <div class='deal-entry'>
                    <!--added an input with cat to pass into the server nat -->
                    Deal Name: <input class='deal-title-input' type="text" ng-model='vm.deal.name'
                           placeholder="  2 or 3 word title for your deal"/><br>
                    Please select the day(s) that this deal is available.
                    <div class='day-wrapper'>
                        <div id='0' width='25px' height='25px' ng-click='vm.selectDay("0")' class='day-box change-color'>M</div>
                        <div id='1' width='25px' height='25px' ng-click='vm.selectDay("1")' class='day-box change-color'>Tu</div>
                        <div id='2' width='25px' height='25px' ng-click='vm.selectDay("2")' class='day-box change-color'>W</div>
                        <div id='3' width='25px' height='25px' ng-click='vm.selectDay("3")' class='day-box change-color'>Th</div>
                        <div id='4' width='25px' height='25px' ng-click='vm.selectDay("4")' class='day-box change-color'>F</div>
                        <div id='5' width='25px' height='25px' ng-click='vm.selectDay("5")' class='day-box change-color'>S</div>
                        <div id='6' width='25px' height='25px' ng-click='vm.selectDay("6")' class='day-box change-color'>Su</div>
                    </div>
                    <span ng-hide='vm.selectedCat'>Select a Category:
                    <span class='cat-options' ng-hide="vm.hideDropdown">
                      <button ng-click='vm.selectCat("Food")' class='cat-option change-color'>Food</button>
                      <button ng-click='vm.selectCat("Entertainment")' class='cat-option change-color'>Entertainment</button>
                      <button ng-click='vm.selectCat("Education")' class='cat-option change-color'>Education</button>
                    </span>
                    </span>
                    <span ng-show='vm.selectedCat'>Current Category: {{vm.dealCat}}
                    <select class='cat-selector' ng-click='vm.openCat()'></select>
                  </span><br>
                        Tell us why this is such a good deal!<br>

                    <textarea class='deal-textarea' ng-model='vm.deal.description'
                              placeholder='  Enter description...'></textarea>
                    <br> Let us know about any special hours or exceptions!

                    <textarea class='deal-textarea' ng-model='vm.deal.details'
                              placeholder='  Enter hours or exceptions...'></textarea>

                        <div class="svg-wrapper">
                            <div class="svgDisplay">
                                <svg class='svg' id="{{svg}}" ng-click='vm.selectSvg(svg)' width="75px" height="75px"
                                     ng-repeat="svg in vm.svgs">
                                    <use xlink:href="{{svg}}" width="75px" height="75px"></use>
                                </svg>
                            </div>
                        </div>
                    </div>


          <form class='bus-form'>

                <div class='bus-entry'>
                    <div>
                        Search for the business that offers this deal:

                        <input class='bus-name-input' places-auto-complete size=80 types="{{types}}"
                               on-place-changed="vm.placeChanged()"
                               placeholder="  Enter business name and search for a business"/>
                        <br/> Can you find a picture
                        <input class='bus-pic-input' fileread type='file'>
                    </div>


                </div>


                    <div ng-if="vm.place" class='business-info'>


                        <span>{{vm.place.name}}</span>
                        <br/>
                        <span>{{vm.place.formatted_address}}</span>
                        <br/>
                        <span>{{vm.place.formatted_phone_number}}</span>
                        <br/>
                        <span><a ng-href="{{vm.place.website}}">{{vm.place.name}}</a> </href></span>
                        <br/>
                        <span>{{vm.place.opening_hours.weekday_text[6]}}</span>
                        <br/>
                        <span>{{vm.place.opening_hours.weekday_text[0]}}</span>
                        <br/>
                        <span>{{vm.place.opening_hours.weekday_text[1]}}</span>
                        <br/>
                        <span>{{vm.place.opening_hours.weekday_text[2]}}</span>
                        <br/>
                        <span>{{vm.place.opening_hours.weekday_text[3]}}</span>
                        <br/>
                        <span>{{vm.place.opening_hours.weekday_text[4]}}</span>
                        <br/>
                        <span>{{vm.place.opening_hours.weekday_text[5]}}</span>
                        <br/>

                    </div>


                <input type="submit" ng-click="vm.addBusiness(); vm.getDealInfo()">Submit Business</input>
            </form>
            </section>
            <ng-map scrollwheel="false"></ng-map>
        </div>


    </div>
</div>
