main-red = #DD2E44;
main-grey = #58595B;
main-white = #F2F2F2;

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body
  margin-top 300px
  font-family: 'San Francisco'

font(x,y)
  font-weight x
  font-size y em

.large-text
    font(400, 3.75)
.small-text
    font(200, 1.125)
.medium-text
    font(400, 2.25)
.light-text
    font(100, 2.25)

.main-container
  background: main-red
  height: 200vh

.main-nav-bar
  background: linear-gradient(main-red, transparent)
  color: main-white
  height: 30vh
  position: fixed
  width: 100%
  top: 0
  z-index: 20

.top-nav-tabs
  font(100, 1.5)
  display: flex
  justify-content: space-between

  /*home-view*/
.home-container
  height: 300px
  width: 100%
  background: main-red

.nav-filter
  text-align: center

.nav-bottom
  margin 25px auto 0 auto
  width 80vw
  display flex
  flex-direction row
  justify-content space-around

.location-filter
  background: transparent
  border: none
  font-color: main-white
  font(400, 2.5)
  text-align: center
  padding-right: 0
  margin: 0
  width: 300px
  &:focus
    outline none

li
  display: inline-block

a
  text-decoration: none
  color: main-white

.cat-container
    width: 100%
    height: 60vh
    background-color: main-red
    top: 35vh
    position: absolute

.deal
    width: 25%
    height: 50vh
    margin: 5vh
    background: main-white
    display: inline-block
    border-radius: 5px

.deals-container
    display: inline-block
    width: 10000px
    overflow-x: auto
    height: 400px

/*maps-view*/
.modal
    display: none
    position: fixed
    z-index: 100
    padding-top: 100px
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: #ababab

.modal-content
    margin: auto
    display: block
    width: 80%
    max-width: 700px

#close
    position: absolute
    top: 15px
    right: 35px
    color: #f1f1f1
    font(400, 2.5)
    transition: 0.3s
    &:hover,&:focus
      color: #bbb
      text-decoration: none
      cursor: pointer
    +below(700px)
      width 100%

.signup-form
    width: 400px
    margin: auto
    font(100, 1.875)

.signup-inputs
    border: 0
    border-radius: 30px
    color: main-grey
    width: 400px
    height: 60px
    margin-bottom: 10px
    text-align: center
    &:focus
      outline: none

.signup-button
    border: 0
    border-radius: 30px
    background: main-white
    color: main-red
    width: 400px
    height: 60px
    text-align: center
    font(100, 1.5)
    &:focus
      outline: none

.password-match-error
    font(200, 1.25)
    color: main-white
    text-align: center
    margin-bottom: 0

.signup-header
    font(400, 3.75)
    text-align: center
    color: main-white

.signup-footer
    font(200, 1.25)
    text-align: center
    color: main-white
    margin-top: 0

.login-footer
    font(200, 1.25)
    text-align: center
    color: main-white 
    margin-top: 0
    
.login-header
    font(400, 3.75)
    text-align: center
    color: main-white
    
.login-button
    border: 0
    border-radius: 30px
    background: main-white
    color: main-red
    height: 60px
    width: 400px
    text-align: center
    font(100, 1.5)
    margin-bottom: 10px
    &:focus
      outline: none
 
.login-form
    width: 400px
    margin: auto
    font(100, 1.875)

.login-inputs
    border: 0
    border-radius: 30px
    color: main-grey
    width: 400px
    height: 60px
    margin-bottom: 10px
    text-align: center
    &:focus
      outline: none
    
.option 
    font(100, 1.875)
    color: main-white
    text-align: center
    margin-top: 0
    margin-bottom: 10px
    padding-top: 0
    
.alt-login
    margin: auto
    width: 400px
    
#twitter 
    background: #1da1f2
    color: main-white
#fb
    background: #3a5795
    color: main-white  
