main-red = #DD2E44;
main-grey = #58595B;
main-white = #F2F2F2;

@keyframes fade-out
  from {
    background-color: main-white;
  }
  to {
    background-color: main-white;
  }

@keyframes fade-in
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }

@keyframes blink
  to{ opactiy: .0 }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
  height 100%
  width 100%
  padding-bottom 50px
  overflow-x hidden
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto","Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans","Helvetica Neue", Arial, sans-serif;
  +below(675px)
    font-size 8px

font(x, y)
  font-weight x
  font-size y em

.large-text
  font(400, 3)

.small-text
  cursor pointer
  font(200, 1)

.medium-text
  font(400, 2)
  display: flex
  cursor pointer
  align-self: flex-end

.medium-text2
  font(400, 2)
  display: flex
  align-self: flex-end

.light-text
  font(100, 2)
  display: flex
  align-self: flex-end

.small-font
  font-size 20px
  font-weight 100

/* index.html styling */

.main-container
  background: main-red

.main-nav-bar
  background-color: transparent
  color: main-white
  position: fixed
  width: 100%
  top: 0
  z-index: 20

.gradient
  position fixed
  z-index 19
  top 0
  height 300px
  width 100%
  background: linear-gradient(main-red, transparent)
  +below(675px)
    height 225px

.gradient-change
  position fixed
  height 300px
  +below(675px)
    height 225px

.style-nav
  margin-left: 20px

.top-nav-tabs
  font(100, 1.75)
  width 100%
  display: flex
  justify-content flex-end
  a
    margin 0
  ul
    padding 0
    margin 10px
  li
    margin 0 20px 0 60px
    cursor pointer
    +below(900px)
      margin 0 30px 0 30px
    +below(675px)
      margin 0 18px 0 18px


.leftArrow
  position absolute
  transform rotate(180deg)
  background transparent
  left -17px
  cursor pointer
  z-index 45
  padding 120px 0 120px 0
  padding-right 20px
  box-shadow -10px 0 30px -2px main-red


.rightArrow
  position absolute
  right -17px
  margin auto
  cursor pointer
  z-index 45
  padding 120px 0 120px 0
  padding-right 20px
  box-shadow -10px 0 30px -2px main-red



/*home-view*/
.home-container
  width: 100%
  overflow-x hidden

.nav-filter
  text-align: center

.nav-bottom
  margin 25px auto 0 auto
  max-width 800px
  display flex
  align-items: flex-end
  flex-direction row
  justify-content space-around
  +below(800px)
    max-width 70%

.location-filter
  background: transparent
  border: none
  font-color: main-white
  font(400, 2.5)
  text-align: center
  padding-right: 0
  margin: 0
  height: 50px
  &::placeholder
    color: main-white
    font(400, 1)
  &:focus
    outline none
  +below(675px)
    margin-bottom -25px


.cat-selector
  white-space: none;
  background-color: transparent
  border none
  outline none
  width 20px
  cursor pointer

.cat-options
  display flex
  justify-content center


.cat-option
  color: inherit
  border transparent
  background-color transparent
  outline none
  border-radius 10px
  margin 5px

#cat-choose
  border 1px solid main-red
  background-color rgb(193, 193, 193)

.day
  display: flex
  align-self: flex-end

.day-selector
  display flex

.day-options
  display flex
  align-self flex-end
  text-align center
  cursor pointer
  margin-bottom -4px

.day-option
  color main-red
  border main-grey
  border-radius 5px
  margin 2px
  background-color main-white
  outline none
  height 30px
  width 30px
  line-height 20px
  display: flex
  align-self: center
  align-items center
  justify-content center
  font-size 20px
  cursor pointer
  +below(600px)
    height 20px
    width 20px
    font-size 12px
    margin-bottom 6px

h2
  margin 0 auto

h4
  margin 0 auto

li
  display: inline-block

a
  text-decoration: none
  color: main-white

.cat-title
  display flex
  margin-top 20px
  color main-white
  font(400, 2.25)
  span
    margin auto

.deal
  min-width 220px
  max-width: 220px
  height: 300px
  margin 25px
  background: main-white
  border-radius: 5px
  box-shadow 0 0 10px main-grey
  display flex
  flex-direction column
  font-color: main-grey
  font-size: 24px
  font-weight: ultralight
  padding-bottom 18px
  &:hover
    animation-fill-mode: forwards
    animation-name: fade-out
    animation-duration .6s
    cursor pointer

.main-deals-container
  margin 250px 0 0 0
  +below(675px)
    margin-top 160px

.deal-desc
  display flex
  flex-direction column
  text-align center
  justify-content center
  width 220px
  height 300px
  color main-grey
  z-index 20
  &:hover
    animation-fill-mode: forwards
    animation-name: fade-in
    animation-duration .4s
    cursor pointer

.deal-header
  text-align: center
  width: 100%
  height: 20%
  margin-top: 5%

.deal-pic
  display flex
  justify-content center
  align-items center

.deal-footer
  text-align: center
  width: 100%
  word-wrap: break-word    //nat
  height: 20%
  margin auto
  margin-bottom: 3%

.cat-container
  overflow hidden

.deals-container
  display flex
  flex-direction row
  overflow-x auto
  overflow-y hidden
  margin-bottom -45px
  padding-bottom 20px
  margin-left 50px
  margin-right 50px

/*maps-view*/
.modal
  position: fixed
  color: black
  z-index: 100
  left: 20vw
  top: 10vh
  width: 60vw
  height: 80vh
  overflow auto
  overflow-x hidden
  background-color: rgb(224, 224, 224)
  text-align: center
  margin: auto
  border-radius: 10px
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  +below(600px)
    margin 0
    width 100vw
    height 100vh

#modal-curtain
  height 100vh
  width 100vw
  top 0
  left 0
  background-color rgba(50, 50, 50, 0.92)
  position fixed
  z-index 20
  font(200, 1)

.admin-edit-modal  //nat
  display: none
  position: fixed
  z-index: 100
  left: 0
  top: 0
  width: 60%
  height: 80%
  overflow auto
  overflow-x hidden
  background-color: main-white
  text-align: center
  margin: 5% 20%
  border-radius: 10px
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  +below(600px)
    margin 0
    width 100vw
    height 100vh

.detail-header
  font-size 36px
  margin 20px

.deal-info
  width: 90%
  margin auto
  background main-red
  border-radius 10px
  margin 15px auto 15px auto
  padding 10px
  color white

.business-info
  width 90%
  background white
  border-radius 10px
  margin auto
  padding 10px

.highlight
  text-decoration underline

.space
 margin-top 10px

.weblink
  color: blue

.svg-wrapper
  width 100%
  display block
  margin auto
  background white
  border-radius 10px
  cursor pointer


.svgDisplay
  display block
  margin-bottom -20px
  padding-bottom 20px


.modal-content
  margin: auto
  display: block
  width: 80%
  max-width: 700px
  padding-bottom 45px


.data-entry
  text-align: center

.deal-entry
  width: 80%
  margin: auto
  border-radius 10px

.deal-title-input
  border-radius 15px
  height: 30px
  border: none
  margin: 5px
  width: 220px

.day-wrapper
  display: flex
  justify-content: space-between
  margin: 2px

.day-box
  color: main-white
  background-color: main-red
  margin 0 5px 0 0
  border main-grey
  border-radius 5px
  margin 2px
  outline none
  min-height 30px
  min-width 30px
  line-height 20px
  display: flex
  align-self: center
  align-items center
  justify-content center
  cursor pointer
  +below(600px)
    min-height 20px
    min-width 20px
    font-size 12px
    margin-bottom 6px

.deal-textarea
  width: 60%
  border-radius: 15px
  margin 5px
  border: none

.bus-entry
  width: 100%
  margin 30px 0 30px 0

.bus-name-input
  border-radius 15px
  height: 30px
  border: none
  margin: 5px
  width: 50%

#close
  position: fixed
  top: 9vh
  right: 22vw
  color: #bbb
  font(400, 2.5)
  transition: 0.3s
  &:hover, &:focus
    color: main-grey
    text-decoration: none
    cursor: pointer

.signup-form
  width: 400px
  margin: auto
  font(100, 1.875)

.signup-inputs
  border: 0
  border-radius: 30px
  color: main-grey
  width: 400px
  height: 60px
  margin-bottom: 10px
  text-align: center
  &:focus
    outline: none

.signup-button
  border: 0
  border-radius: 30px
  background: main-white
  color: main-red
  width: 400px
  height: 60px
  text-align: center
  font(100, 1.5)
  &:focus
    outline: none

.password-match-error
  font(200, 1.25)
  color: main-white
  text-align: center
  margin-bottom: 0

.signup-header
  font(400, 3.75)
  text-align: center
  color: main-white

.signup-footer
  font(200, 1.25)
  text-align: center
  color: main-white
  margin-top: 0

.login-container
  margin-top 225px
  +below(650px)
    margin-top 200px

.login-footer
  font(200, 1.25)
  text-align: center
  color: main-white
  margin-top: 0

.login-header
  font(400, 3.75)
  padding-bottom 20px
  text-align: center
  color: main-white

.login-button
  border: 0
  border-radius: 30px
  background: main-white
  color: main-red
  height: 60px
  width: 400px
  text-align: center
  font(100, 1.5)
  margin-bottom: 10px
  &:focus
    outline: none

.login-form
  width: 400px
  margin: auto
  font(100, 1.875)

.login-inputs
  border: 0
  border-radius: 30px
  color: main-grey
  width: 400px
  height: 60px
  margin-bottom: 10px
  text-align: center
  &:focus
    outline: none

.options
  background-color: transparent
  font(400, 1.1)
  border: 0
  margin -10px
  cursor pointer
  &:focus
    outline: none

.option
  font(100, 1.875)
  color: main-white
  text-align: center
  margin-top: 0
  margin-bottom: 10px
  padding-top: 0

.alt-login
  margin: auto
  width: 400px

#twitter
  background: #1da1f2
  color: main-white

#fb
  background: #3a5795
  color: main-white


.profile-title
  font(400, 1.5)
  margin 20px

.profile-wrap
  text-align: center
  margin auto
  margin-top 10px

.profilePic
  height: 200px
  width: 200px
  border-radius: 15px 5px 15px 5px
  margin 10px

.edit-inputs
  border: 0
  border-radius: 30px
  color: main-grey
  width: 300px
  height: 40px
  margin-bottom: 10px
  text-align: center
  &:focus
    outline: none

#user-name-input
  width: 200px

.edit-button
  border: 0
  border-radius: 30px
  background: main-red
  color: main-white
  width: 300px
  height: 40px
  text-align: center
  font(100, 1.5)
  margin 10px
  &:focus
    outline: none

.img-input
  padding-left 50px
  padding-top 5px
  background main-grey
  border-radius 15px
  color main-white
  margin 5px
  height 30px
  width 300px
  &:focus
    outline: none

.edit-form
  display block

.color-btn
  margin 5px auto
  height 60px
  width 60px
  border-radius 50px
  border none
  box-shadow: 0px 5px 0px black;
  &:focus
    outline: none
  &:active
    box-shadow 0px 1px 0px black;
    position relative
    top: 4px

.pop-out-btn
  box-shadow inset 0 0 10px gray


#light-blue
  background #00aecc

#orange
  background #fa9d58

#red
  background main-red

#green
  background #4bbf6b

#blue
  background #0079bf

#purple
  background #89609e


.admin-buttons
    height: 10%
    width: 100%

.admin-ear
    display: inline-block
    height: 20px
    width: 20px
.admin-buttons-details
    display: flex
    flex-direction: column
