main-red = #DD2E44;
main-grey = #58595B;
main-white = #F2F2F2;

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body
  margin-top 300px

.large-text
    font-weight: 400
    font-size: 60px
.small-text
    font-weight: 200
    font-size: 18px
.medium-text
    font-weight: 400
    font-size: 36px
.light-text
    font-weight: 100
    font-size: 36px

.main-container
  background: main-red
  height: 200vh

.main-nav-bar
  background: linear-gradient(main-red, transparent)

  color: main-white
  height: 40vh
  position: fixed
  width: 100%
  top: 0
  z-index: 20

.top-nav-tabs
  font-family: 'San Francisco'
  font-weight: 100
  font-size: 24
  display: flex
  justify-content: space-between

  /*home-view*/
.home-container
  height: 300px
  width: 100%
  background: main-red

.nav-filter
  text-align: center

.nav-bottom

  vertical-align: text-bottom

.location-filter
  background: transparent
  border: none
  font-color: main-white
  font-size: 40px
  font-weight: 400
  text-align: center
  padding-right: 0px
  margin: 0px
  width: 300px


.location-filter::placeholder
  color: main-white

.location-filter:focus
  outline: none

li
  display: inline-block

a
  text-decoration: none
  color: main-white

body
  font-family: 'San Francisco'

.cat-container
    width: 100%
    height: 60vh
    background-color: main-red
    top: 35vh
    position: absolute

.deal
    width: 25%
    height: 50vh
    margin: 5vh
    background: main-white
    display: inline-block
    border-radius: 5px

.deals-container
    display: inline-block
    width: 100%
    overflow-x: auto
    height: 100%

/*maps-view*/
.modal
    display: none
    position: fixed
    z-index: 100
    padding-top: 100px
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: #ababab
    background-color: #ababab

.modal-content
    margin: auto
    display: block
    width: 80%
    max-width: 700px

#close
    position: absolute
    top: 15px
    right: 35px
    color: #f1f1f1
    font-size: 40px
    font-weight: bold
    transition: 0.3s

#close:hover, #close:focus
    color: #bbb
    text-decoration: none
    cursor: pointer

@media only screen and (max-width: 700px){
  .modal-content{
    width: 100%
  }
}
