<div ng-if="show">
    <div id="modal-curtain" ng-click='closeProfile()'></div>
    <div class='modal'>
        <span id='close' ng-click='closeProfile()'>&times;</span>

        <div class='profile-wrap modal-content'>
            <div>
                <span class='profile-title'>Edit My Profile</span>
                <!-- <span class='small-font'>Edit My Profile</span> -->
                <form class='edit-form little-text' ng-submit="updateProfile()">


                    <!-- <input id='user-name-input' type="text" ng-model="user.displayName" class="edit-inputs"/><br/> -->
                    Change Username:
                    <input id='user-name-input' type="text" ng-model="user.username" class="edit-inputs"/><br/>
                    Change Email:
                    <input type="email" ng-model="user.email" class="edit-inputs"/> <br/>

                    <img ng-src="{{user.picture}}" class='profilePic'> <br/>
                    <span>Add or Change your Profile Picture:</span><br>

                    <input class='img-input' fileread type='file' ng-model="user.picture"> <br/>

                    <span>Change Background!</span>
                    <div>
                        <button id='orange' class='color-btn' ng-click='setColor("#fa9d58")'><div class='pop-out-btn'></div></button>
                        <button id='red' class='color-btn' ng-click='setColor("#DD2E44")'><div class='pop-out-btn'></div></button>
                        <button id='green' class='color-btn' ng-click='setColor("#4bbf6b")'><div class='pop-out-btn'></div></button>
                        <button id='light-blue' class='color-btn' ng-click='setColor("#00aecc")'><div class='pop-out-btn'></div></button>
                        <button id='blue' class='color-btn' ng-click='setColor("#0079bf")'><div class='pop-out-btn'></div></button>
                        <button id='purple' class='color-btn' ng-click='setColor("#89609e")'><div class='pop-out-btn'></div></button>
                    </div>

                    <button type="submit" ng-click="updateProfile()" class="edit-button">
                      Update Information
                    </button>
                </form>
                <div ng-if="profileUpdated">
                    Profile successfully updated!
                </div>
            </div>
        </div>
    </div>
</div>
