<div ng-if="show">
    <div id="modal-curtain" ng-click='closeProfile()'></div>
    <div class='modal'>
        <span id='close' ng-click='closeProfile()'>&times;</span>

<div class= 'profile-wrap modal-content'>
  <div>
    <span class='medium-text'>Edit My Profile</span>
      <!-- <span class='small-font'>Edit My Profile</span> -->
      <form class='edit-form' ng-submit="updateProfile()">

        <div class='small-text'>Change Username: </div>
        <input type="text" ng-model="user.displayName" class="edit-inputs"/><br/>
        <div class='small-text'>Change Email: </div>
        <input type="email" ng-model="user.email" class="edit-inputs"/> <br/>

          <img ng-src="{{user.picture}}" class= 'profilePic'> <br/>
          <span>Add or Update your Profile Picture:</span><br>

          <input class='img-input' fileread type='file' ng-model="user.picture"> <br/>

          <span>Change the Background Color!</span>
          <div>
            <button id='yellow' class='color-btn' ng-click='changeColor("#fff02b")'></button>
            <button id='orange' class='color-btn' ng-click='changeColor("orange")'></button>
            <button id='red' class='color-btn' ng-click='changeColor("red")'></button>
            <button id='green' class='color-btn' ng-click='changeColor("green")'></button>
            <button id='blue' class='color-btn' ng-click='changeColor("blue")'></button>
            <button id='purple' class='color-btn' ng-click='changeColor("purple")'></button>
          </div>

        <button type="submit" class="edit-button change-color">Update Information</button>
      </form>
  </div>

  <div >
    <span class='medium-text'>Link your Accounts!</span>
      <!-- <span class='light-text'>Linked Accounts</span> -->
      <div>
        <button ng-if="user.facebook" ng-click="unlink('facebook')" class="edit-button" id="fb">
           Unlink Facebook Account
        </button>
        <button ng-if="!user.facebook" ng-click="link('facebook')" class="edit-button" id="fb">
         Link Facebook Account
        </button><br/>

        <button ng-if="user.google" ng-click="unlink('google')" class="edit-button">
          Unlink Google Account
        </button>
        <button ng-if="!user.google" ng-click="link('google')" class="edit-button">
          Link Google Account
        </button><br/>

        <button ng-if="user.twitter" ng-click="unlink('twitter')" class="edit-button" id="twitter">
          Unlink Google Account
        </button>
        <button ng-if="!user.twitter" ng-click="link('twitter')" class="edit-button" id="twitter">
          Link Google Account
        </button><br/>

    </div>
</div>
