<div id='modal' class='modal'>
  <span id='close' ng-click='closeClick()'>&times;</span>
<div id="mapsview">
    <form class='bus-form'>
      <div>
        Business Name:
        <input places-auto-complete size=80
               types="{{types}}"
               on-place-changed="vm.placeChanged()"
               placeholder="Search for a business"/> <br/>
        <input fileread type='file'>
      </div>
      <div>
        <div ng-if="vm.place" class='business-info'>

            <span>{{vm.place.name}}</span><br/>
            <span>{{vm.place.formatted_address}}</span><br/>
            <span>{{vm.place.formatted_phone_number}}</span><br/>
            <span><a ng-href="{{vm.place.website}}">{{vm.place.name}}</a> </href></span><br/>
            <span>{{vm.place.opening_hours.weekday_text[6]}}</span><br/>
            <span>{{vm.place.opening_hours.weekday_text[0]}}</span><br/>
            <span>{{vm.place.opening_hours.weekday_text[1]}}</span><br/>
            <span>{{vm.place.opening_hours.weekday_text[2]}}</span><br/>
            <span>{{vm.place.opening_hours.weekday_text[3]}}</span><br/>
            <span>{{vm.place.opening_hours.weekday_text[4]}}</span><br/>
            <span>{{vm.place.opening_hours.weekday_text[5]}}</span><br/>

        </div>
        <div class='deal-entry-container'>

            <input type="text" placeholder="Deal Name"></input>
            <div class='day-wrapper'>
              <div class='day-box'>M</div>
              <div class='day-box'>Tu</div>
              <div class='day-box'>W</div>
              <div class='day-box'>Th</div>
              <div class='day-box'>F</div>
              <div class='day-box'>S</div>
              <div class='day-box'>Su</div>
            </div>
            <textarea placeholder='Enter description...'></textarea>
            <textarea placeholder='Enter details or exceptions...'></textarea>
        </div>
      </div>
        <input type="submit" ng-click="vm.addBusiness()">Submit Business</input>
        {{addedBus}}

        <ng-map></ng-map>
    </form>
</div>
</div>
