<div>

    <h2>Sign up</h2>

    <form ng-submit="signup()" name="signupForm">
        <input type="text" name="displayName" ng-model="user.displayName" placeholder="Name" required autofocus>
        <input type="email" name="email" ng-model="user.email" placeholder="Email" required>
        <input type="password" name="password" ng-model="user.password" placeholder="Password" required>
        <input type="password" ng-model="confirmPassword" placeholder="Confirm Password">

        <button type="submit" ng-disabled="signupForm.$invalid">Sign up</button>
    </form>

    <br/>
    <p>Already have an account?
        <a href="/#/login">Log in now</a>
    </p>
</div>
