<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/lib.min.css">
    <link rel="stylesheet" type="text/css" href="css/css.min.css">
    <base href="/">
    <title>Deal.io</title>
</head>

<body class='main-container' ng-cloak>

    <div class='main-nav-bar'>

        <div class='main-nav-bar' ng-controller="NavbarCtrl as vm">

            <!--<span ng-repeat="svg in vm.svgs">-->
            <!--<svg width="100px" height="100px">-->
            <!--<use xlink:href="{{svg}}" width="75px" height="75px"></use>-->
            <!--</svg>-->
            <!--</span>-->

            <div class='top-nav-tabs'>
                <ul>
                    <li><a ui-sref="home">Home</a></li>
                    <li ng-if="vm.isAuthenticated()"><span ng-controller="profileCtrl" ng-click="showMe()">Profile</span></li>
                </ul>
                <ul ng-if="!vm.isAuthenticated()">
                    <li><a ui-sref="login">Login /</a></li>
                    <li><a ui-sref="signup">Sign up</a></li>
                </ul>
                <ul ng-if="vm.isAuthenticated()">
                    <li><span ng-controller="ModalCtrl as vm" ng-click='vm.expand()'>Submit a New Deal!</span></li>/
                    <li><a ui-sref="logout">Logout</a></li>
                </ul>
            </div>

            <div class='nav-filter' ng-if="vm.hideDealBar()">
                <div class='large-text'>
                    <!-- this will be {{category}}  -->
                    {{vm.category}}
                </div>
                <span class='small-text'>
                  another category
                  <select class='cat-selector' ng-click='vm.toggleDropdown()'></select>
                  <div class='cat-options'
                  ng-hide="vm.hideDropdown">
                    <button ng-click='vm.selectOption("All")' class='cat-option' selected>All</button><br>
                    <button ng-click='vm.selectOption("Food")' class='cat-option'>Food</button><br>
                    <button ng-click='vm.selectOption("Entertainment")' class='cat-option'>Entertainment</button><br>
                    <button ng-click='vm.selectOption("Education")' class='cat-option'>Education</button><br>
                  </div>
                </span>

                <div class='nav-bottom' ng-hide='vm.hideBotNav'>
                    <span class='medium-text'>deals<span>    </span></span>
                    <span class='light-text'>  in</span>
                    <input class='location-filter' type='text' ng-model='vm.city' pu-elastic-input>
                    <span class='light-text'>on<span>    </span></span>
                    <span class='medium-text' ng-click='vm.toggleDayDD()'>
                      {{vm.selectedDay}}
                      <select class="options"></select>
                      <div class='day-options'
                      ng-hide="vm.dayDropdown">
                        <button ng-click='vm.selectDay("Monday")' class='day-option' >M</button><br>
                        <button ng-click='vm.selectDay("Tuesday")' class='day-option' >Tu</button><br>
                        <button ng-click='vm.selectDay("Wednesday")' class='day-option' >W</button><br>
                        <button ng-click='vm.selectDay("Thursday")' class='day-option' >Th</button><br>
                        <button ng-click='vm.selectDay("Friday")' class='day-option'>F</button><br>
                        <button ng-click='vm.selectDay("Saturday")' class='day-option'>Sa</button><br>
                        <button ng-click='vm.selectDay("Sunday")' class='day-option'>Su</button><br>
                      </div>
                    </span>
                </div>

            </div>
        </div>

    </div>
    <div class="gradient">
    </div>

    <deal-dir></deal-dir>
    <profile-dir></profile-dir>

    <ui-view></ui-view>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOreIswD8rCeAp8GmTzd_s-f7pH_M6nnc&libraries=places"></script>
    <script src="js/lib.min.js"></script>
    <script src="js/js.min.js"></script>
</body>

</html>
