<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/lib.min.css">
    <link rel="stylesheet" type="text/css" href="css/css.min.css">
    <base href="/">
    <title>Deal.io</title>
</head>
<body class='main-container' ng-cloak>


<div class='main-nav-bar'>

    <div class='main-nav-bar' ng-controller="NavbarCtrl as vm">

        <!--<span ng-repeat="svg in vm.svgs">-->
        <!--<svg width="100px" height="100px">-->
        <!--<use xlink:href="{{svg}}" width="75px" height="75px"></use>-->
        <!--</svg>-->
        <!--</span>-->

        <div class='top-nav-tabs'>
            <ul>
                <li><a ui-sref="home">Home</a></li>
                <li ng-if="vm.isAuthenticated()"><a ui-sref="profile">Profile</a></li>
            </ul>
            <ul ng-if="!vm.isAuthenticated()">
                <li><a ui-sref="login">Login /</a></li>
                <li><a ui-sref="signup">Sign up</a></li>
            </ul>
            <ul ng-if="vm.isAuthenticated()">
                <li><span ng-controller="ModalCtrl as vm" ng-click='vm.expand()'>Submit a New Deal!</span></li>/
                <li><a ui-sref="logout">Logout</a></li>
            </ul>
        </div>

        <div class='nav-filter' ng-if="vm.hideDealBar()">
            <div class='large-text'>
                <!-- this will be {{category}}  -->
                {{vm.category}}

            </div>
            <span class='small-text'>
              another category
              <select class='cat-selector' ng-model='vm.category'>
                <option class='cat-option' selected>All</option>
                <option class='cat-option'>Food</option>
                <option class='cat-option'>Entertainment</option>
                <option class='cat-option'>Education</option>
              </select>
            </span>
            <div class='nav-bottom'>
                <span class='medium-text'>deals<span>    </span></span>
                <span class='light-text'>  in</span>
                <input class='location-filter' type='text' ng-model='vm.city' pu-elastic-input>
                <span class='light-text'>on<span>    </span></span>
      <span class='medium-text'>
        <select ng-model="vm.selectedDay" ng-options="day.display for day in vm.days track by day.val" class="options"></select>
      </span>
            </div>




    </div>
</div>

</div>
<div class="gradient">
</div>

    <deal-dir></deal-dir>
<ui-view></ui-view>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOreIswD8rCeAp8GmTzd_s-f7pH_M6nnc&libraries=places"></script>
<script src="js/lib.min.js"></script>
<script src="js/js.min.js"></script>
</body>
</html>
